{
  "presets": [
    "env",
    "react",
    "stage-3"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-async-to-generator",
    "transform-runtime",
    "transform-decorators-legacy"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types",
        "syntax-dynamic-import",
        "transform-async-to-generator",
        "transform-regenerator"
      ]
    }
  }
}
