<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>


  <meta http-equiv="Content-Security-Policy" content="<%=  %>">
  <% for (var i = 0; i < dns.length; i++) { %>
  <link rel="dns-prefetch" href="//<%= dns[i] %>" />
  <% } %>

  <link rel="stylesheet" type="text/css" href="<%= cdn %>/page.<%= version %>.css<%= bundlePostfix %>">

</head>
<body>
<div id="root"><%- html %></div>

<script>
  window.__INITIAL_STATE__ = JSON.parse(`<%- __INITIAL_STATE__ %>`);
</script>
<script defer type="text/javascript" src="<%= cdn %>/vendors.<%= version %>.js"></script>
<script defer type="text/javascript" src="<%= cdn %>/config.<%= version %>.js"></script>
<script defer type="text/javascript" src="<%= cdn %>/page.<%= version %>.js<%= bundlePostfix %>"></script>

<script defer async type="text/javascript" src="<%= cdn %>/sdk.js"></script>

</body>
</html>
